*{
 box-sizing: border-box;
}

body{
    min-width: 350px;
}

img{
    max-width: 95%;
}

.center{
    text-align: center;
}

.flex{
    display: flex;
}

.content-img-header{
    align-items: center;
}

.img-header{
   
    width: 195px;
    height: 195px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.center-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.text-header{
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.title-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    margin: 0 auto;
}

.subtitle-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin: 10px;
}

.number-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4E5150;
    margin-bottom: 0;
}

.letra-bloque-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    margin-top: 0;
}

.bloques-header{
    width: 30%;
    background: #E5E5E5;
    border-radius: 12px;
    text-align: center;
}

.bloque-ancho{
    max-width: 1100px;
}

.img-2{

    margin-left: 25px;
}

.bloque-2{
    padding-top: 30px;
}

.content-bloque {
    max-width: 1200px;
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

.content-bloque-3{
    max-width: 400px;
}

.img-4{

    margin-left: 20px;
}

.pt-20{
    padding-top: 20px;
}

.footer{
    font-family: 'Montserrat';
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    padding: 20px 0;
}

.main img{
    border-radius: 12px;
}

@media (max-width: 600px) {
    .img-header{
        width: 150px;
        height: 150px;
    }

    .title-header{
        font-size: 20px;
    }

    .subtitle-header{
        font-size: 12px;
        margin: 1px;
    }
}